.user {
  display: flex;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
  }

  &__name {
    font-family: Campton;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #002A25;
  }

  &__rating {
    display: flex;
    align-items: center;

    &__value {
      font-family: Campton;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.4px;
      color: #000000;
      margin-right: 5px;
    }
  }



}